@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-100;
    }
}

@layer components {
    .skeleton {
        animation: skeleton-loading 1s linear infinite alternate;
    }
    .ml-0-i {
        margin-left: 0 !important;
    }
    @keyframes skeleton-loading {
        0% {
            background-color: hsl(200, 20%, 70%);
        }
        100% {
            background-color: hsl(200, 20%, 95%);
        }
    }

    .btn {
        @apply px-2 py-2 font-poppins font-semibold text-xs flex items-center flex-row space-x-1 rounded-lg;
    }
    .btn-success {
        @apply bg-success text-white transition-all duration-300 ease-out hover:shadow-lg active:bg-success-700 active:shadow-lg shadow-sm;
    }
    .btn-warning {
        @apply bg-warning text-white transition-all duration-300 ease-out hover:shadow-lg active:bg-warning-700 active:shadow-lg shadow-sm;
    }
    .btn-primary {
        @apply bg-primary text-white transition-all duration-300 ease-out hover:shadow-lg active:bg-primary-700 active:shadow-lg shadow-sm;
    }

    .form-content p {
        @apply pl-4 text-sm text-gray-500 border-l-2 border-gray-200 md:pr-2 mb-2;
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        @apply bg-gray-100;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        @apply bg-gray-300;
        border-radius: 100vh;
        border: 0;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-400;
    }
}
